<%for (let i of all_posts) {%>
    <li id="post-<%= i._id %>">
        <p>
            <%if(locals.user && locals.user.id == i.user.id){ %>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= i._id %>">X</a>
            </small>
            <%}%>
            <%= i.content%>
        </p>   
        <p>
            - by <%= i.user.name %>
        </p>
        <div id="post-comments">
            <% if (locals.user) {%>
                <form method="POST" action="/comments/create">
                    <input type="text" name="content" placeholder="Type here to type comment..." required>
                    <input type="hidden" name="post" value="<%= i._id%>">
                    <input type="submit" value="Add Comments" name="" id="">
                </form>
            <%}%>
            <div class="post-comments-list">
                <ul id="post-comments-<%= i._id %>">
                    <% for (comment of i.comments) { %>
                        <%- include('_comment'); %>
                    <%}%>
                </ul>
            </div>
        </div>
    </li>
<%}%>